<nav class="navbar navbar-expand-lg bg-primary navbar-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Sky-Optique</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Montures</a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" routerLink="montures">Liste des montures</a></li>
            <li><a class="dropdown-item" routerLink="add-monture">Ajouter une monture</a></li>
            <li><a class="dropdown-item" routerLink="">Stock</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Lentilles</a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" routerLink="lentilles">Liste des lentilles</a></li>
            <li><a class="dropdown-item" routerLink="add-lentille">Ajouter une lentille</a></li>
            <li><a class="dropdown-item" routerLink="">Stock</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Lentilles</a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a href="add-livraison">Enregistrer une livraison</a></li>
            <li><a href="livraisons">Liste des livraisons</a></li>
          </ul>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <app-logout></app-logout>
      </form>
    </div>
  </div>
</nav>


<div class="container">

  <router-outlet></router-outlet>

</div>

