<div class="col-sm-8 col-sm-offset-2">
  <form [formGroup]="livraisonForm" (ngSubmit)="onSubmitForm()">

    <div class="form-group">
      <label for="idType">Type de produit</label>
      <select id="idType" class="form-control" formControlName="idType">
        <option value="Lentille">Lentille</option>
        <option value="Monture">Monture</option>
        <option value="Monture">Accessoir</option>
      </select>
    </div>


    <div class="form-group">
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Assignee</mat-label>
        <input type="text" matInput [formControl]="produitControl" [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
          <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
            {{option.libelle}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Favorite food</mat-label>
      <input matInput placeholder="Ex. Pizza" value="Sushi">
    </mat-form-field>
    <div></div>


    <div class="form-group">
      <label for="prixAchat">prix d'Achat</label>
      <input type="number" id="prixAchat" class="form-control" formControlName="prixAchat">
    </div>
    <div class="form-group">
      <label for="qte">Quantité</label>
      <input type="number" id="qte" class="form-control" formControlName="qte">
    </div>
    <div class="form-group">
      <label for="dateAchat">Date de livraison</label>
      <input type="date" id="dateAchat" class="form-control" formControlName="qte">
    </div>

    <div class="form-group">
      <label for="lot">Nom du produit</label>
      <input type="text" id="lot" class="form-control" formControlName="">
    </div>

    <button type="submit" class="btn btn-primary">Enregistrer</button>
  </form>
</div>
