<div class="card col-lg-6 offset-lg-3">
  <div *ngIf="isAddMode" class="card-header text-white bg-primary mb-3">
    Ajouter monture
  </div>
  <div *ngIf="!isAddMode" class="card-header text-white bg-primary mb-3">
    Modifier monture
  </div>
  <div class="card-body">
      <form [formGroup]="montureForm" (ngSubmit)="onSubmitForm()">

      <div class="form-group">
        <label for="monture_ref">
          Reference*
        </label>
        <input type="text" id="monture_ref" class="form-control" formControlName="reference" [ngClass]="{ 'is-invalid': submitted && f.reference.errors }" />
        <div *ngIf="submitted && f.reference.errors" class="invalid-feedback">
          <div *ngIf="f.reference.errors.required">Veuillez renseigner le nom de la reference</div>
        </div>
      </div>
      <br/>
      <div class="form-group">
        <label for="libelle">
          Nom complet*
        </label>
        <input type="text" id="libelle" class="form-control" formControlName="libelle" [ngClass]="{ 'is-invalid': submitted && f.libelle.errors }" />
        <div *ngIf="submitted && f.libelle.errors" class="invalid-feedback">
          <div *ngIf="f.libelle.errors.required">Veuillez renseigner le nom de la monture</div>
        </div>
      </div>
      <div class="form-group">
        <label for="modele">
          Modele
        </label>
        <input type="text" id="modele" class="form-control" formControlName="modele"/>
      </div>
      <div class="form-group">
        <label for="matiere">
          Matiere
        </label>
        <input type="text" id="matiere" class="form-control" formControlName="matiere" />
      </div>
      <div class="form-group">
        <label for="genre">
          Genre
        </label>
        <input type="text" id="genre" class="form-control" formControlName="genre" />
      </div>
      <div class="form-group">
        <label for="taille">
          Taille
        </label>
        <input type="text" id="taille" class="form-control" formControlName="taille" />
      </div>
      <div class="form-group">
        <label for="forme">
          Forme*
        </label>
        <input type="text" id="forme" class="form-control" formControlName="forme" />
      </div>
      <br/>
      <div >
        <button class="btn btn-secondary col-md-5" type="reset" (click)="onReset()">Reset</button>
        <button type="submit" class="btn btn-primary col-md-5 offset-md-2" >Enregistrer</button>
      </div>

    </form>
  </div>
</div>
